.defaultClass {
	padding: 8px 10px;
	color: black;
	border: 1px solid white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.defaultClass:active {
	padding: 8px 10px;
	border: 1px solid #d1a954e5;
	color: #d1a954e5;
	background: #fff;
	font-size: 14px;
}

.defaultClass:hover {
	color: #d1a954;
}
