.container {
	max-width: 1800px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.col4 {
	width: calc((100% - 60px) / 3);
	height: 650px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.hoverText {
	position: absolute;
	background-color: #d1a954e5;
	bottom: -100%;
	left: 0;
	right: 0;
	padding: 20px 15px;
	transition: 0.9s;
}

.hoverContent {
	border: 1px solid #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	padding: 20px 15px;
}

.hoverContent h2 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 30px;
}

.hoverContent p {
	font-weight: 400;
	font-size: 14px;
}

.col4:hover .hoverText {
	bottom: 0;
	transition: 0.9s;
}
